Source: libfastcommon
Section: zhangchunsheng
Priority: optional
Maintainer: zhangchunsheng <zhangchunsheng423@gmail.com>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.4.1
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/libfastcommon
#Vcs-Git: https://salsa.debian.org/debian/libfastcommon.git

Package: libfastcommon
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
