Source: libfastcommon
Section: libs
Priority: optional
Maintainer: YuQing <384681@qq.com>
Build-Depends: debhelper (>=11~)
Standards-Version: 4.1.4
Homepage: http://github.com/happyfish100/libfastcommon/

Package: libfastcommon-dev
Architecture: any
Section: libdevel
Depends: libfastcommon (= ${binary:Version}), ${misc:Depends}
Description: libfastcommon (development files)
 This package contains header files.

Package: libfastcommon
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: c common functions library
 c common functions library extracted from my open source projects FastDFS and 
 FastDHT. this library is very simple and stable.
 .
 some functions are wrappered into php extension, such as fastcommon_gethostaddrs,
     fastcommon_id_generator_xxx, fastcommon_get_ifconfigs, fastcommon_get_sysinfo etc.

