Source: libfastcommon
Section: libs
Priority: optional
Maintainer: zhangchunsheng <zhangchunsheng423@gmail.com>
Build-Depends: debhelper (>=11~)
Standards-Version: 4.1.4
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/libfastcommon
#Vcs-Git: https://salsa.debian.org/debian/libfastcommon.git

Package: libfastcommon-dev
Architecture: any
Section: libdevel
Depends: libfastcommon (= ${binary:Version}), ${misc:Depends}
Description: ${source:Synopsis} (development files)
 ${source:Extended-Description}
 .
 This package contains header files.

Package: libfastcommon
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: c common functions library
 c common functions library extracted from my open source projects FastDFS and 
 FastDHT. this library is very simple and stable.
 .
 some functions are wrappered into php extension, such as fastcommon_gethostaddrs,
     fastcommon_id_generator_xxx, fastcommon_get_ifconfigs, fastcommon_get_sysinfo etc.

