#!/usr/bin/make -f
#export DH_VERBOSE = 1

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed
export DESTDIR = ../debian/tmp


%:
	dh $@


override_dh_auto_build:
	./make.sh clean && DESTDIR=$(DESTDIR) ./make.sh

override_dh_auto_install:
	DESTDIR=$(DESTDIR) ./make.sh install
	dh_auto_install
